<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/MyFirstDataBase?serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">password</property>

        <!-- Register all entity classes here -->
        <mapping class="il.cshaifasweng.OCSFMediatorExample.entities.Product"/>
        <mapping class="il.cshaifasweng.OCSFMediatorExample.entities.Customer"/>
        <mapping class="il.cshaifasweng.OCSFMediatorExample.entities.User"/>
        <mapping class="il.cshaifasweng.OCSFMediatorExample.entities.Employee"/>
        <mapping class="il.cshaifasweng.OCSFMediatorExample.entities.Cart"/>
        <mapping class="il.cshaifasweng.OCSFMediatorExample.entities.CartItem"/>
        <mapping class="il.cshaifasweng.OCSFMediatorExample.entities.Branch"/>
        <mapping class="il.cshaifasweng.OCSFMediatorExample.entities.CreditCard"/>
        <mapping class="il.cshaifasweng.OCSFMediatorExample.entities.Subscription"/>
        <mapping class="il.cshaifasweng.OCSFMediatorExample.entities.Order"/>
        <mapping class="il.cshaifasweng.OCSFMediatorExample.entities.OrdersReport"/>
        <mapping class="il.cshaifasweng.OCSFMediatorExample.entities.Report"/>
        <mapping class="il.cshaifasweng.OCSFMediatorExample.entities.IncomeReport"/>
        <mapping class="il.cshaifasweng.OCSFMediatorExample.entities.ComplaintsReport"/>
        <mapping class="il.cshaifasweng.OCSFMediatorExample.entities.OrderItem"/>
        <mapping class="il.cshaifasweng.OCSFMediatorExample.entities.OrderRequest"/>
        <mapping class="il.cshaifasweng.OCSFMediatorExample.entities.CustomBouquet"/>
        <mapping class="il.cshaifasweng.OCSFMediatorExample.entities.CustomBouquetItem"/>
        <mapping class="il.cshaifasweng.OCSFMediatorExample.entities.Complaint"/>
        <mapping class="il.cshaifasweng.OCSFMediatorExample.entities.Notification"/>


    </session-factory>
</hibernate-configuration>
